/* COMPONENT */
/* ADD PROGRAM BAR */

/* SEARCH BAR */

#addBar{
    border: 1px solid black;
    width: 1265px;
    height: auto;
    padding-bottom: 10px;
    margin-left: 230px;
    margin-top: -645px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

#addBar div, button{
    margin-left: 30px;
}

.srchAndProgramBtn{
    padding: 10px 20px;
    background-color: #3D3D4E;
    cursor: pointer;
}
